
#container img{ /* puffin img */
 border: 5px solid #d9043d;
    
}

.header-container { /* Header */
    background-color: #120323;
    color: #97bf04;
    display: flex;
    justify-content: center;
    align-items: center;

}

aside{ /* Green box */
    background-color: #97bf04;
}

footer{ /* Footer */
    background-color: #d9043d;
}






@media only screen and (max-width:480px){
    main{
        background-color: blue;
    }
}

h1{
    border: 3px solid black;
}

@media screen and (max-width: 320px){
main{
    background-color: coral;
}

}

/*
header background color & name of animal: #120323
sidebar background colour: #97bf04
footer background colour & image frame: #d9043d
The puffin image should never be cut off as it is a key element on the page
The site uses a sans-serif font
Any spacing not defined can be estimated, but should allow for fluid and responsive design

*/