body {
    /* EVERYTHING */
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

#container {
    /* Puffin img + Caption + Aside (middle area) */
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding-bottom: 15px;
}


#container img {
    /* Puffin img  */
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0;
}

figure {
    /* Puffin img + Caption  */
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

figure img {
    /* Puffin img  */
    max-width: 100%;
    height: auto;
    border: solid 5px #d9043d;
}

.header-container {
    /* Header */
    background-color: #120323;
    color: #97bf04;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
    height: auto;
}

h1 {
    /* Header Text*/
    padding-left: 1rem;
}

aside {
    /* Green box aka aside box */
    background-color: #97bf04;
    padding: 10px 10px 10px 10px;
    height: 100%;
    max-width: 100%;
}

footer {
    /* Footer */
    background-color: #d9043d;
    color: #ffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 100%;
    width: auto;

}



@media only screen and (max-width:999px) {
    /* -1000 */

    #container {
        /* main */
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .header-container {
        /* Header */
        background-color: #120323;
        color: #97bf04;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    #container img {
        max-width: 30%;
        height: auto;
        display: block;
        margin: 0;
    }

    figure {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        max-width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    figure img {
        max-width: 100%;
        height: auto;
        border: solid 5px #d9043d;
    }

}


@media screen and (max-width: 767px) {
    /* -768 */

    #container {
        /* main */
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .header-container {
        /* Header */
        background-color: #120323;
        color: #97bf04;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    figure {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        max-width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0;
    }

    figure img {
        max-width: 100%;
        height: auto;
        border: solid 5px #d9043d;
        padding: 0;
        display: block;
    }

    #container img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
        padding: 0;
    }

}

/*
header background color & name of animal: #120323
sidebar background colour: #97bf04
footer background colour & image frame: #d9043d
The puffin image should never be cut off as it is a key element on the page
The site uses a sans-serif font
Any spacing not defined can be estimated, but should allow for fluid and responsive design
*/